$primary-color: #3F3F3F;
$secondary-color: #49485E;
$tertiary-color: #B4B4B4;

$success: #7BAE73;
$error: #FF8484;

$inactive-btn-bg: #EEE;
$inactive-btn-color: $tertiary-color;
$active-btn-bg: $success;
$active-btn-color: #FFF;


